<!-- ProyectoViajesJMJ - layout\main-layout\main-layout.html -->
<!-- Responsabilidad: estructura global de navegacion, layout y composicion de la aplicacion. -->
<!-- Nota profesional: Forma parte de la estructura base de la aplicacion y se renderiza en multiples pantallas. -->

<!-- Estructura de vista: cada bloque visible esta pensado para orientar navegacion, estado de carga y acciones del usuario. -->
<div class="flex flex-col min-h-screen bg-[rgb(33,36,37)] text-white font-sans">
  <app-navbar></app-navbar>

  <main class="flex-1 flex flex-col w-full relative pb-10" style="z-index: 1;">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>
