<nav th:fragment="navbar" style="background:#333; padding:15px; text-align:center;">
    <a th:href="@{/}" style="color:white; margin:10px;">Inicio</a>
    <a th:href="@{/europa}" style="color:white; margin:10px;">Europa</a>
    <a th:href="@{/asia}" style="color:white; margin:10px;">Asia</a>
    <a th:href="@{/africa}" style="color:white; margin:10px;">África</a>
    <a th:href="@{/america-norte}" style="color:white; margin:10px;">América Norte</a>
    <a th:href="@{/america-sur}" style="color:white; margin:10px;">América Sur</a>
    <a th:href="@{/oceania}" style="color:white; margin:10px;">Oceanía</a>
</nav>