<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de cajas</title>

    <link rel="stylesheet" th:href="@{/css/Style1.css}">
</head>

<body>

<header>
    <h1>ELIGE TU VIAJE</h1>
</header>

<main class="contenedor-flex">

    <!-- EUROPA -->

    <section class="caja caja1">

        <a th:href="@{/europa}">
            <h2>Europa</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/Europa/imagen_Espana.jpg}">
            </div>

            <footer>
                <p>Europa - Historia, Cultura y Belleza</p>
            </footer>

        </a>

    </section>


    <!-- ASIA -->

    <section class="caja caja2">

        <a th:href="@{/asia}">
            <h2>Asia</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/Asia/imagen_Nueva_Delhi.jpg}">
            </div>

            <footer>
                <p>Asia - Cultura, Tradición y Modernidad</p>
            </footer>

        </a>

    </section>


    <!-- AFRICA -->

    <section class="caja caja3">

        <a th:href="@{/africa}">
            <h2>África</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/Africa/imagen_El_Cairo.jpg}">
            </div>

            <footer>
                <p>África - Naturaleza, Historia y Aventura</p>
            </footer>

        </a>

    </section>


    <!-- OCEANIA -->

    <section class="caja caja4">

        <a th:href="@{/oceania}">
            <h2>Oceanía</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/Oceania/imagen_Melbourne.jpg}">
            </div>

            <footer>
                <p>Oceanía - Naturaleza, Cultura y Aventura</p>
            </footer>

        </a>

    </section>


    <!-- AMERICA NORTE -->

    <section class="caja caja5">

        <a th:href="@{/america-norte}">
            <h2>América del Norte</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/AmericaNorte/imagen_Nueva_York.jpg}">
            </div>

            <footer>
                <p>América del Norte - Cultura, Modernidad y Naturaleza</p>
            </footer>

        </a>

    </section>


    <!-- AMERICA SUR -->

    <section class="caja caja6">

        <a th:href="@{/america-sur}">
            <h2>América del Sur</h2>

            <div class="imagen-contenedor">
                <img th:src="@{/imagenes/fondos/AmericaSur/imagen_Machupichu.jpg}">
            </div>

            <footer>
                <p>América del Sur - Naturaleza, Cultura y Aventura</p>
            </footer>

        </a>

    </section>

</main>

<footer>
    <p>Proyecto de viajes de "JMJ"</p>
</footer>

</body>
</html>