<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de cajas</title>
    <link rel="stylesheet" href="/css/Style1.css">

</head>
<body>
<header>
    <h1>ELIGE TU VIAJE</h1>
</header>

<main class="contenedor-flex">
    <!-- Caja 1: Enlace a página 1 -->

    <section class="caja caja1">

        <a href="paginas/europa.html">
            <h2>Europa</h2>
            <div class="imagen-contenedor">
                <img src="/imagenes/fondos/Europa/imagen_Espana.jpg">
            </div>
            <footer>
                <p>Europa - Historia, Cultura y Belleza</p>
            </footer>
        </a>

    </section>

    <!--Caja 2: Enlace a página 2 -->

    <section class="caja caja2">

        <a href="paginas/asia.html">
            <h2>Asia</h2>
            <div class="imagen-contenedor">
                <img src="/imagenes/fondos/Asia/imagen_Japon.jpg">
            </div>
            <footer>
                <p>Asia - Cultura , Tradición y Modernidad</p>
            </footer>
        </a>

    </section>
    <!--Caja 3: Enlace a página 3 -->

    <section class="caja caja3">

        <a href="paginas/africa.html">
            <h2>África</h2>
            <div class="imagen-contenedor">
                <img src="/images/fondos/Africa/Imagen_Dubai.jpg">
            </div>
            <footer>
                <p>África -Naturaleza, Historia y Aventura</p>
            </footer>
        </a>

    </section>
    <!--Caja 4: Enlace a página 4 -->

    <section class="caja caja4">

        <a href="paginas/oceania.html">
            <h2>Oceania</h2>
            <div class="imagen-contenedor">
                <img src="/images/imagen4.jpg">
            </div>
            <footer>
                <p>Oceanía - Naturaleza, Cultura y Aventura</p>
            </footer>
        </a>

    </section>
    <!--Caja 2: Enlace a página 5 -->

    <section class="caja caja5">

        <a href="paginas/americaNorte.html">
            <h2>America del Norte</h2>
            <div class="imagen-contenedor">
                <img src="/images/imagen5.jpg">
            </div>
            <footer>
                <p>América del Norte - Cultura, Modernidad y Naturaleza</p>
            </footer>
        </a>

    </section>
    <!--Caja 6: Enlace a página 6 -->

    <section class="caja caja6">

        <a href="paginas/americaSur.html">
            <h2>America del Sur</h2>
            <div class="imagen-contenedor">
                <img src="/images/imagen6.jpg">
            </div>
            <footer>
                <p>América del Sur - Naturaleza, Cultura y Aventura</p>
            </footer>
        </a>

    </section>

</main>
<footer>
    <p>Proyecto de viajes de "JMJ"</p>
</footer>

</body>
</html>