body {
     font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgb(10, 163, 117), rgb(75, 0, 128)) ;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}


.boton-volver {
    display: inline-block;
    background-color: rgb(0, 221, 255);
    color: aliceblue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.boton-volver:hover{
    background-color:#4551a0;
}

.formulario-viaje {
    background-color: grey;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 600px;
    width: 100%;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.hotel-opciones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.hotel-opciones label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
}

.hotel-opciones label:hover {
    transform: scale(1.05);
    border-color: #4c5baf;
}

.hotel-opciones img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.hotel-opciones input[type="radio"] {
    display: none;
}

.hotel-opciones input[type="radio"]:checked + img + span {
    font-weight: bold;
    color: #4c5caf;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4c5caf;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4c5caf;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3e7;
    border-left: 5px solid #4c5caf;
    border-radius: 5px;
}

.enlace-recomendacion {
    color: #fff;
    background-color: #4CAF50;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 6px;
}
.enlace-recomendacion:hover {
    background-color: #45a049;
}
